.product {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-bottom: 1px solid lightslategray;
  padding: 5px 0;
}

.product .product-header {
  color: blue;
}
.btn-product {
  padding: 10px 20px;
  background-color: goldenrod;
  border: 1px solid gray;
  border-radius: 10px;
}
